.u-section-1 .u-sheet-1 {
  min-height: 805px;
}

.u-section-1 .u-text-1 {
  margin: 21px 156px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 156px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 15px 346px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: -37px 570px 0 0;
}

.u-section-1 .u-video-1 {
  height: 500px;
  width: 930px;
  animation-duration: 1000ms;
  margin: 20px 210px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 30px 156px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 17px;
    margin-right: 146px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 370px;
  }

  .u-section-1 .u-video-1 {
    margin-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: 58px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -40px;
    margin-right: 150px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    margin-right: 0;
    margin-bottom: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 49px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -31px;
    margin-right: 0;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 52px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -34px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    margin-bottom: 3px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }
}