.u-section-1 .u-sheet-1 {
  min-height: 1112px;
}

.u-section-1 .u-text-1 {
  margin: 7px 156px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 156px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 18px 346px 0 auto;
  padding: 7px 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: -34px 570px 0 0;
}

.u-section-1 .u-video-1 {
  height: 463px;
  width: 935px;
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 67px 156px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 200px;
  margin: 50px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 441px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 283px;
  margin: 30px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 17px;
    margin-right: 146px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -37px;
    margin-right: 370px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 807px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -690px;
    margin-bottom: 60px;
    margin-left: 231px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: 58px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -40px;
    margin-right: 150px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 765px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -687px;
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 49px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -31px;
    margin-right: 0;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 768px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 190px;
    margin-top: -690px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 418px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 268px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 52px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -34px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 792px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 120px;
    margin-top: -688px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 263px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 169px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 350px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }
}